<template lang="html">
  <header>
    <div class="section-sidebar text-align-right">
      <span class="icon-arrow-left"></span>
    </div>
    <div class="section-sidebar">
      <a id="logo" class="nunito-bold">JP Casabianca</a>
    </div>
    <div class="section-sidebar-full">
      <ul class="main-menu">
        <li class="menu-item">
          <span class="menu-item-title menu-item-active">About Me <span class="menu-item-bookmark"></span></span>
          <ul class="sub-menu">
            <li class="sub-menu-item sub-menu-item-active">Menu 1 <span class="sub-menu-item-bookmark"></span> </li>
            <li class="sub-menu-item">Menu 2</li>
            <li class="sub-menu-item">Menu 3</li>
            <li class="sub-menu-item">Menu 4</li>
            <li class="sub-menu-item">Menu 5</li>
          </ul>
        </li>
        <li class="menu-item">
          <span class="menu-item-title">Creative Process</span>
        </li>
        <li class="menu-item">
          <span class="menu-item-title">Case Studies</span>
        </li>
        <li class="menu-item">
          <span class="menu-item-title">News &amp; Blog</span>
        </li>
        <li class="menu-item">
          <span class="menu-item-title">Contact</span>
        </li>
      </ul>
    </div>
    <div class="section-sidebar sidebar-info">
      <div class="">
        <p>Important Stuff</p>
        <a href="#">Resume</a>
        <p>Contact</p>
        <a href="#" class="icon-phone"></a>
        <a href="#" class="icon-mail"></a>
        <p>Find Me On</p>
        <a href="#" class="icon-medium"></a>
        <a href="#" class="icon-linkedin2"></a>
        <a href="#" class="icon-dribbble"></a>
        <a href="#" class="icon-bitbucket"></a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
};
</script>

<style lang="scss">

  @import '../assets/sass/helpers/all';

  %bookmark {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  header {
    .icon-arrow-left {
      display: block;
      font-size: 22px;
      margin: 15px 0 5px 0;
    }
    .section-sidebar {
      width: 250px;
      margin: auto;
    }
    .section-sidebar-full {
      width: 100%;
    }
    #logo {
      color: $blue;
      font-size: 22px;
      display: block;
      margin-bottom: 40px;
    }
    .main-menu {
      list-style: none;
      padding: 0;
      text-indent: 25px;
      font-size: 14px;
      margin-bottom: 40px;
      .menu-item {
        display: block;
        font-family: 'Nunito-bold', helvetica, sans-serif;
        cursor: pointer;
      }
      .menu-item-title {
        display: block;
        padding: 10px 0;
        position: relative;
        .menu-item-bookmark {
          @extend %bookmark;
          background-color: #7682ff;
          width: 8px;
        }
      }
      .sub-menu {
        list-style: none;
        padding: 15px 0 5px 0;
        text-indent: 25px;
        padding-left: 25px;
        .sub-menu-item {
          display: block;
          position: relative;
          padding: 1px 0;
          font-family: 'Nunito', helvetica, sans-serif;
        }
        .sub-menu-item-active {
          color: $blue;
        }
        .sub-menu-item-bookmark {
          @extend %bookmark;
          background-color: #7682ff;
          width: 6px;
        }
      }
      .menu-item-active {
        background: #edf1fc;
        color: $blue;
      }
    }
    .sidebar-info {
      p {
        font-family: 'Nunito-bold', helvetica, sans-serif;
        font-size: 12px;
        margin: 0;
        margin-bottom: 5px;
      }
      a {
        font-size: 12px;
        display: inline-block;
        margin-bottom: 12px;
        color: #88959f;
      }
    }
  }

</style>
