<template>
  <div id="app">
    <div id="sidebar">
      <!-- SIDEBAR COMPONENT -->
      <Sidebar />
    </div>
    <div id="main-content">
      <p>hola que mas</p>
      <!-- MAIN CONTENT ROUTER -->
      <router-view />
    </div>
  </div>
</template>

<script>

// Imports Components
import Sidebar from '@/components/Sidebar';

// Main App
export default {
  name: 'App',
  components: {
    Sidebar,
  },
};

</script>

<style lang="scss">

  @import './assets/sass/bulma/sass/utilities/initial-variables.sass';
  @import './assets/sass/bulma/sass/utilities/mixins.sass';
  @import './assets/sass/bulma/sass/grid/columns.sass';
  @import './assets/icons/style.css';
  @import './assets/fonts/style.css';
  @import './assets/sass/style.scss';

</style>
