@import 'helpers/all';
@import 'base/all';

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

#sidebar,
#main-content {
  position: fixed;
}

#sidebar {
  width: 300px;
  // background-color: #000;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

#main-content {
  background-color: tomato;
  width: calc(100% - 300px);
  top: 0;
  left: 300px;
}

a {
  text-decoration: none;
}
